{% extends "core/base.html" %}

{% block title %}Sessão - Ingressos App{% endblock %}

{% block content %}
<div class="card">
    <h1>{{ sessao.filme.nome }}</h1>

    <p>
        <strong>Cinema:</strong>
        {{ sessao.sala.cinema.nome }}
    </p>

    <p>
        <strong>Sala:</strong>
        {{ sessao.sala.nome }}
    </p>

    <p>
        <strong>Horário:</strong>
        {{ sessao.inicio|date:"d/m/Y H:i" }}
    </p>

    <p>
        <strong>Preço base:</strong>
        R$ {{ sessao.preco_base }}
    </p>
</div>

<h2>Mapa de assentos</h2>

<div class="card">
    <p>
        <span class="assento disponivel">Livre</span>
        <span class="assento reservado">Reservado</span>
        <span class="assento vendido">Vendido</span>
    </p>

    {% if assentos_sessao %}
        <div class="grid-assentos">
            {% for item in assentos_sessao %}
                <div class="assento {{ item.status }}">
                    {{ item.assento.fila }}{{ item.assento.numero }}
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Nenhum assento encontrado para esta sessão.</p>
    {% endif %}
</div>

<a href="{% url 'filme_detalhe' sessao.filme.id %}">
    Voltar para sessões
</a>
{% endblock %}