{% extends "core/base.html" %}

{% block title %}Sessão - Ingressos App{% endblock %}

{% block content %}
<div class="card">
    <h1>{{ sessao.filme.nome }}</h1>

    <p>
        <strong>Cinema:</strong>
        {{ sessao.sala.cinema.nome }}
    </p>

    <p>
        <strong>Sala:</strong>
        {{ sessao.sala.nome }}
    </p>

    <p>
        <strong>Horário:</strong>
        {{ sessao.inicio|date:"d/m/Y H:i" }}
    </p>

    <p>
        <strong>Preço base:</strong>
        R$ {{ sessao.preco_base }}
    </p>
</div>

<h2>Mapa de assentos</h2>

<div class="card">
    <p>
        <span class="assento disponivel">Livre</span>
        <span class="assento reservado">Reservado</span>
        <span class="assento vendido">Vendido</span>
    </p>

    {% if assentos_sessao %}
        <form class="form-assentos" method="post" action="{% url 'reservar_assentos_front' sessao.id %}">
            {% csrf_token %}

            <div class="grid-assentos">
                {% for item in assentos_sessao %}
                    {% if item.status == "disponivel" %}
                        <label class="assento-checkbox">
                            <input
                                type="checkbox"
                                name="assento_ids"
                                value="{{ item.assento.id }}"
                            >
                            <span class="disponivel">
                                {{ item.assento.fila }}{{ item.assento.numero }}
                            </span>
                        </label>
                    {% else %}
                        <div class="assento {{ item.status }} assento-indisponivel">
                            {{ item.assento.fila }}{{ item.assento.numero }}
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

            <div class="acoes">
                <button class="btn" type="submit">
                    Reservar assentos selecionados
                </button>
            </div>
        </form>
    {% else %}
        <p>Nenhum assento encontrado para esta sessão.</p>
    {% endif %}
</div>

<a href="{% url 'filme_detalhe' sessao.filme.id %}">
    Voltar para sessões
</a>
{% endblock %}